<!DOCTYPE HTML>
<html>
<head>
	<title>Evolution</title>
</head>
<body>
	{{{body}}}

	<form action="/" method="POST">
		<input id="name" name="name" type="text" placeholder="Identify new strain.">
		<button type="submit">Target Strain</button>
	</form>
</body>
</html>